<h2>About us:</h2>

<article>
    <p>
    The creator of this web social networking app is Benjamin Linehan a Software Engineering student at General Assembly. I created this app due to my firm belief that Australia, as well as other countries, should welcome our refugee brother's and sister's with open arms and without prejudice. 
    As an immigrant myself, I know how hard it can be to join a strange and foreign culture. I can only imagine how much harder it would be after having to flee your home due to circumstances outside of your control. That is why I have tried to make a social networking and support forum for those who are new arrivals to Australia with refugee status, as well as those already established and allies of refugees interests.
    </p>
</article>