<br>
<h3>
Make your account:
</h3>
<form action="/account_creation" method="post">
    <label for="">Username:</label>
    <input type="text" name="username">
    <label for="">Email:</label>
    <input type="text" name="email">
    <label for="">Password:</label>
    <input type="password" name="password">

    <button>Sign up!</button>   
</form>