<% if logged_in?()%>
    <a href="/share">Share a Post!</a>

<%end%>

<h2>Recent Posts:</h1>
<div class="main-wrapper">
<% posts.each do |post| %>

<article>
<h2>
<a href="/posts/<%=post["id"]%>">
<%=post["title"]%>
</a>
</h2>

<img class="read-images" src="<%= post["image_url"]%>">

<p>Posted by: <%= post["username"]%> </p>
</article>
<%end%>
</div>

