<h3>Login here:</h3>

<form action ="/session" method ="post">
    <label for="">Username</label>
    <input type="text" name="username">
    <label for="">Email</label>
    <input type="text" name="email">
    <label for="">Password</label>
    <input type="password" name="password">

    <button>Login!</button>
</form>