<h2>Recommended resources:</h2>
<div class="grid-2-wrapper">
<main class="centre-wrapper">
    <article>
    <h3>The Refugee Council of Australia</h3>
    <p>
    The Refugee council of Australia is self described as "the peak body for refugees, people seeking asylum and the organisations that support them". They organise advocacy to ensure equal rights and justice for those whom seek asylum from persecution within our borders.
    </p>
    </article>

    <article>
    <h3>Asylum Seeker Resource Centre</h3>
    <p>
    The ASRC is an organisation that works to connect refugees with necessary resources Australia wide.
    They offer services such as meals, healthcare, housing, legal aid, accessibility to public transport as well as a plethora of other basic needs.
    </article>
    
    <article>
    <h3>Settlement Services International</h3>
    <p>
    Settlement Services International is an organisation and social enterprise that works to support newcomers to Australia. 
    Their main focal point are those that have experienced vulnerability including refugees.
    </p>
    </article>
</main>

<aside>
    <h4>Links to these resources:</h4>
    <ul>
    <li>
        <a href="https://action.refugeecouncil.org.au/">Refugee Council of Australia</a>
    </li>
    <li>
        <a href="https://asrc.org.au/covid-19/?gclid=Cj0KCQjws4aKBhDPARIsAIWH0JWObquHAMmS70xgPadhoRTDSIJ7HoSYzzTf2xhRWKGIN6UGzNO7Kp8aAlU6EALw_wcB">ASRC</a>
    </li>
    <li>
        <a href="https://www.ssi.org.au/about-us">SSI</a>
    </li>
    </ul>
</aside>
</div>